<mat-toolbar color="primary" class="mb-4" style="position: sticky; top: 0; z-index: 1000;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>Post Application</span>
    <span class="example-spacer" style="padding-right: 50px;"></span>
    <button mat-raised-button color="default">
       create post
    </button>
  </mat-toolbar>
<app-post-list></app-post-list>
<router-outlet></router-outlet>